#!/usr/bin/env zsh
function alias_if_exists() {
  # Does the alias only if the aliased program(2nd one) is installed
    if command -v $2 > /dev/null; then
        alias "$1"="$2"
    fi
}

# Better defaults
alias_if_exists 'ag' 'rg'
alias_if_exists 'vim' 'nvim'
alias_if_exists 'cat' 'bat'
alias_if_exists 'ls' 'eza'
alias_if_exists 'cd' 'z'

# use fzf to optimize vim, disabled, since it's annoying
# if command -v 'fzf' > /dev/null; then
#  alias nvim='nvim $(fzf)'
# fi

# Shortcuts

## cd & ls
alias dc="cd"
alias ll='ls -al'

## Git
alias ga='git add .'
alias gs='git status'
alias gm='git commit -m'
alias gl='git log --oneline'
alias gd='git diff'

# Note that gs is also ghostscript
alias ghostscript="/usr/local/bin/gs"

## Misc
alias my-ip="curl ipinfo.io/ip 2> /dev/null"
alias sr='screen -r' # Reattach to the detached screen session
alias sb='subl' # CLI sublime text starter
alias grepc="grep -P --color=always" #Color grep
alias printpath='echo $PATH | sed "s/:/\\n/g"'

# Other
# Print a horizontal line of "=" characters across the full width of your terminal.
alias sep='tput cols | python -c "import sys; print(\"=\"*int(sys.stdin.read().strip()))"'

# Color grep
alias rg="sep; rg -u"

alias clock='watch -n 0.1 "date +"%H:%M:%S" | toilet -f bigmono9"' # -f future

